body {
    margin: 0;
    background-color: #fff;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: italic;
}

.ccsticky-nav {
    position: sticky; 
    top: 0;
} 

nav ul {
    list-style-type: none;
    background-color: #000;
    overflow: hidden;
    margin: 0;
    position: sticky;
}

nav ul li {
   float: right;
}

nav ul li a {
    display: block;
    color: white;
    padding-left:15px ;
    padding-top:15px ;
    padding-bottom:15px ;
    padding-right:15px ;
    text-decoration: none;
}

nav ul li a:hover {
    background-color: gray;
}

nav ul h1 a {
    float: left;
    text-decoration: none;
    color: antiquewhite;
}

